# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_VEE_BOARD_LEFT
	def_bool $(shields_list_contains,vee_board_left)

config SHIELD_VEE_BOARD_RIGHT
	def_bool $(shields_list_contains,vee_board_right)
